html {
    background-image: url(/assets/img/background.jpg);
    background-blend-mode:overlay;
    display:flex;
    align-items:center;
    justify-content:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
    color: #ccc;
    font-size: 24pt;
  }

#library {
    margin-top: 20px;
}
.book {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}